[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IBGS"]
	path = IBGS
	url = https://github.com/lizhongc/ibgs
[submodule "fastLISA"]
	path = fastLISA
	url = https://github.com/lizhongc/fastlisa
